<div id="<%= dom_id director %>">
  <p>
    <strong>Name:</strong>
    <%= director.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= director.date_of_birth %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= director.bio %>
  </p>

</div>
